*, *:before, *:after {
	box-sizing: border-box;
	position: relative;
}

html, body {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #D3D3D3;


}

img{width: 100px;}
main{
	
	display: flex;
	flex-wrap: wrap;
	
	width: 80%;


}

/*.cubo {
	width:  50%;

}*/


section {
	background: #FFFFFF;
	padding: 1%;
	margin: 1%;
	font-size: 13px;
}

#sec1  {
	flex-wrap: wrap;
	width: 68%;
}
#sec1 p {
	font-size: 20px;
}	
#sec1 h1 {
	font-size: 20px;
}
#sec2 {
	width: 28%;
	display: flex;

}	

#sec2 div {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 8%;

}
#sec3 {
	width: 28%;
}
#sec3 p {
	justify-content: flex-end;
}

h2 {
	justify-content: center;
}
#sec4  {
	width: 68%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}
#sec4 div {
	display: flex;
	flex-direction: column;

	
}
#sec4 h2 {
	align-items: : center;
}
#sec4 img {
	width: 190px;
}

#sec5 {
	width: 48%;
}

#sec6 {
	width: 25%;
}
#sec6 img {
	width: 140px;
}

#sec7 {
	width: 20%;
}